.cart{
    font-size: 1.7rem;
   position: absolute;
   right: 20px;
   top: 72px;
   z-index: 999;
   padding: 20px;
   box-shadow: 0 0 7px -5px rgba(0, 0, 0, 0.5);
   -webkit-box-shadow:0px 0px 7px -5px rgba(0,0,0,0.5);

}
.cart h1{
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 1.5rem;
}
.item{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;

}
.item img{
    width: 40px;
    height: 40px;
    object-fit: cover;
     margin-right: 8px;
}
.details h1{
    margin-bottom: 1px;
font-size: 12px;
font-weight: 500;
}
.details p{

    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 14px;
   
}
.price{
   
    font-size: 1.2rem;
}
.delete{
    font-size: 30px;
    color: red;
    cursor: pointer;
}
.total{
    display: flex;
    justify-content: space-between;
     font-weight: 500;
     font-size: 12px;
     margin-bottom: 10px;

}
.checkBtn{
     width: 200px;
     font-size: 60%;
    padding: 10px;
    background-color: #2879fe;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    border: none;
    font-weight: 500;
}
.reset{
    color: red;
    font-size: 12px;
    cursor: pointer;
}
@media only screen and (max-width: 600px){
    .cart{
        height: 100vh;
    
        font-size: 1.7rem;
     width: 80%;
      
       background-color: #fff;
    margin-left: 20px;
       box-shadow: 0 0 7px -5px rgba(0, 0, 0, 0.5);
       -webkit-box-shadow:0px 0px 7px -5px rgba(0,0,0,0.5);
    
    }
}